<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
  <td class="title"><%= line_item.product.title %></td>
  <td class="times"> &times; <%= line_item.quantity %></td>
  <td class="line_item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td class="down"><%= button_to 'down', {controller: :line_items, action: :destroy, id: line_item.product.id}, method: :delete, remote: true %></td>
</tr>
